@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #20293A; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4A5567;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #CDD5E0; /* Color del handle al pasar el ratón sobre él */
  }
  